# fastapi
# uvicorn
sqlalchemy
psycopg2-binary
passlib[bcrypt]
python-jose
python-dotenv
pydantic
pydantic-settings
jinja2
pyjwt
python-multipart
motor
gunicorn
google-generativeai
fastapi[all]==0.115.0
uvicorn[standard]==0.30.1